/* src/assets/fonts/fonts.css */

@font-face {
    font-family: 'font1';
    src: url('./font1.ttf') format('truetype');
        
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'font2';
    src: url('./font2.ttf') format('truetype');
        
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'font3';
    src: url('./font3.ttf') format('truetype');
        
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'font4';
    src: url('./font4.ttf') format('truetype');
        
    font-weight: normal;
    font-style: normal;
  }
  